<html>
    <head>
        <title>
            One  Piece
        </title>
    </head>
    <body>
        <p> 
            <h1>Kon'ichiwa minna-san! </h1>
                {% for person in people %}
                <h2> {{ person.fname }} {{ person.lname }} </h2>
                <ul> 
                    {% for note in person.notes  %}
                <li> 
                    {{ note.content }}
                </li>
                {% endfor %}
                </ul>
                {% endfor %}
            <i> Test API <a href="http://0.0.0.0:8000/api/ui/">here </a></i>
        </p>
    </body>
</html>