<html>
    <head>
        <title>
            One  Piece
        </title>
    </head>
    <body>
        <p> 
            <h1>Sample Blog! </h1>
                {% for person in people %}
                <h2> {{ person.fname }} {{ person.lname }} </h2>
                <ul> 
                    {% for note in person.notes  %}
                <li> 
                    {{ note.content }}
                </li>
                {% endfor %}
                </ul>
                {% endfor %}
        </p>
    </body>
</html>